:root {
  --green: rgba(0, 161, 155, 1);
  --black: rgba(0, 0, 0, 1);
  --dark-gray: rgba(86, 95, 100, 1);
  --light-gray: rgba(221, 222, 222, 1);
  --white: rgba(255, 255, 255, 1);
  --new-green: rgba(0, 245, 208, 1);
}
